@* @model Task_2.Models.Employee

<div class="card m-2 p-2 border shadow-sm" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@($"{Model.FirstName} {Model.LastName}")</h5>
        <h6 class="card-subtitle mb-2 text-muted">ID: @Model.EmployeeId</h6>
        <p class="card-text">
            Department: @Model.Department?.Name
        </p>
    </div>
</div> *@

